@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,400i,500,600,700,800,900');


.jumbotron{
	height: 500px; 
	margin-left: auto; 
	margin-right: auto; 
	background: white; 
	font-family: 
	
	
}

.home_search_container
{
	position: absolute;
	top: -350px;
	left: 15px;
	width: calc(100% - 30px);
	height: 90px;
	border-radius: 45px;
	padding: 10px;
	background: rgba(255,255,255,0.33);
}

.search_form_select1
{
	display: block;
	position: relative;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
	width: 650%;
	-webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
    -webkit-user-select: none;
    background-image: url();
    background-position: center right;
    background-repeat: no-repeat;
    border: none;
    outline: none;
    font-size: 13px;
    font-weight: 400;
    color: #6b6b6b;
    cursor: pointer;
}

.jumbotron2{
	height: 500px; 
	margin-left: auto; 
	margin-right: auto; 
	background: lightgray;
	position: relative; 
	bottom: 250px; 
	background: white; 

}

.home_search_container2
{
	position: absolute;
	bottom: 550px;
	left: 15px;
	width: calc(100% - 30px);
	height: 90px;
	border-radius: 45px;
	padding: 10px;
	background: rgba(255,255,255,0.33);
}

.form2{
	position: relative; 
	top: 200px; 
}

